{% extends 'main/base.html' %}
{% load static %}
{% block title %}Водолей{% endblock %}

{% block content %}
<div class="zodiacs">
    <h1>Водолей</h1>
    <body>
        <p>
            Рожденные с 21 января по 1 февраля под влиянием Венеры - застенчивы и деликатны, меланхоличны и утонченны в
            любви. Рожденные со 2 по 12 февраля под влиянием Меркурия - нежны, умны, немного тщеславны, нравственны,
            обладают юмором. Рожденные с 12 по 20 февраля под влиянием Луны - натуры разочаровывающиеся, сдержанные,
            скромные, чувствительные, правдивые, непреклонные, приятные.
        </p>

        {% for i in prediction %}
            {% if i.sign == 'Водолей' %}
                <div class="prediction">
                    <p>{{ i.date }}</p>
                    <h3>{{ i.horoscope_text }}</h3>
                </div>
            {% endif %}
        {% endfor %}

    </body>
</div>
{% endblock %}