{% extends 'main/base.html' %}
{% load static %}
{% block title %}Овен{% endblock %}

{% block content %}
<div class="zodiacs">
    <h1>Овен</h1>
    <body>
        <p>
            С 21 марта по 31 марта под влиянием Марса - рождаются натуры особенно отважные, агрессивные, твердые, сильные,
            недисциплинированные, мужественные, склонные к браваде и пылкие в любви. Рожденные с 1 по 11 апреля под влиянием
            Солнца - натуры гордые, великодушные, благородные, отважные, способные к командованию, честолюбивые, умеют
            преодолевать препятствия. Любовь для них большая привязанность. Рожденные с 12 по 20 апреля под влиянием
            Венеры - натуры страстные и нежные, ловкие и импульсивные, любящие музыку и изящные искусства.
        </p>

        {% for i in prediction %}
            {% if i.sign == 'Овен' %}
                <div class="prediction">
                    <p>{{ i.date }}</p>
                    <h3>{{ i.horoscope_text }}</h3>
                </div>
            {% endif %}
        {% endfor %}

    </body>
</div>
{% endblock %}

