{% extends 'main/base.html' %}
{% load static %}
{% block title %}Рак{% endblock %}

{% block content %}
<div class="zodiacs">
    <h1>Рак</h1>
    <body>
        <p>
            Рожденные с 22 июня по 1 июля - добрые, страстные, чувствительные, обладают развитыми художественными
            способностями и способны заставить окружающих себя любить. Рожденные со 2 июля по 11 июля под влиянием
            Меркурия - легкомысленные, любопытные, иронические, претенциозные, склонные к коммерции. Рожденные с 12 по
            22 июля под влиянием Луны - мечтательные, беспокойные, чувствительные, богемные, способные к оккультным
            наукам.
        </p>

        {% for i in prediction %}
            {% if i.sign == 'Рак' %}
                <div class="prediction">
                    <p>{{ i.date }}</p>
                    <h3>{{ i.horoscope_text }}</h3>
                </div>
            {% endif %}
        {% endfor %}

    </body>
</div>
{% endblock %}