{% extends 'main/base.html' %}
{% load static %}
{% block title %}Козерог{% endblock %}

{% block content %}
<div class="zodiacs">
    <h1>Козерог</h1>
    <body>
        <p>
            Рожденные с 22 декабря по 2 января под влиянием Юпитера - спокойные, расчетливые, систематические натуры,
            приобретают состояние и успех, но есть риск разориться. Рожденные с 3 по 13 января под влиянием
            Марса - люди, от которых веет домашней скукой, известные плохим влиянием на окружающих. Рожденные с 14 по
            20 января под влиянием Солнца - работоспособны, обладают жизненной силой, страстны, противоречивы, иногда
            предрасположены к унынию.
        </p>

        {% for i in prediction %}
            {% if i.sign == 'Козерог' %}
                <div class="prediction">
                    <p>{{ i.date }}</p>
                    <h3>{{ i.horoscope_text }}</h3>
                </div>
            {% endif %}
        {% endfor %}

    </body>
</div>
{% endblock %}