{% extends 'main/base.html' %}
{% load static %}
{% block title %}Близнецы{% endblock %}

{% block content %}
<div class="zodiacs">
    <h1>Близнецы</h1>
    <body>
        <p>
            Рожденные с 21 по 31 мая под влиянием Юпитера - умны, обладают интуицией, склонны к искусствам, бескорыстны.
            Они находят удовлетворение в религиозных размышлениях за неимением славы и денег. Характер рожденных с 1 по
            10 июня под влиянием Марса - агрессивный. Они насмешливы и беспокойны, озабоченны. Рожденные с 11 по 21 июня
            под влиянием Солнца - натуры необузданные, властные, раздражительные, тщеславные и болтливые.
        </p>

        {% for i in prediction %}
            {% if i.sign == 'Близнецы' %}
                <div class="prediction">
                    <p>{{ i.date }}</p>
                    <h3>{{ i.horoscope_text }}</h3>
                </div>
            {% endif %}
        {% endfor %}

    </body>
</div>
{% endblock %}