{% extends 'main/base.html' %}
{% load static %}
{% block title %}Лев{% endblock %}

{% block content %}
<div class="zodiacs">
    <h1>Лев</h1>
    <body>
        <p>
            Рожденные с 23 июля по 3 августа под влиянием Сатурна - натуры сильные, мистические, пылкие, не любящие
            одиночества и принуждения.Рожденные с 4 по 12 августа под влиянием Юпитера - щепетильные и рассудительные
            натуры, придирчивые, любящие арифметику и церемонии. Рожденные с 13 по 23 августа под влиянием Марса -
            натуры сильные, властные, любящие и поклоняющиеся власти и командованию. Ум сочетается с силой.
            Процветают и преуспевают в армии.
        </p>

        {% for i in prediction %}
            {% if i.sign == 'Лев' %}
                <div class="prediction">
                    <p>{{ i.date }}</p>
                    <h3>{{ i.horoscope_text }}</h3>
                </div>
            {% endif %}
        {% endfor %}

    </body>
</div>
{% endblock %}