{% extends 'main/base.html' %}
{% load static %}
{% block title %}Весы{% endblock %}

{% block content %}
<div class="zodiacs">
    <h1>Весы</h1>
    <body>
        <p>
            Рожденные с 24 сентября по 2 октября под влиянием Венеры - нежны, доброжелательны, мечтательны.
            Рожденные с 3 по 13 октября под влиянием Сатурна - благоразумны, живут без роскоши и честолюбия.
            Рожденные с 14 по 23 октября под влиянием Юпитера - любят вкусно поесть, чувственны, способны к литературе,
            любят церемонии.
        </p>

        {% for i in prediction %}
            {% if i.sign == 'Весы' %}
                <div class="prediction">
                    <p>{{ i.date }}</p>
                    <h3>{{ i.horoscope_text }}</h3>
                </div>
            {% endif %}
        {% endfor %}

    </body>
</div>
{% endblock %}