{% extends 'main/base.html' %}
{% load static %}
{% block title %}Рыбы{% endblock %}

{% block content %}
<div class="zodiacs">
    <h1>Рыбы</h1>
    <body>
        <p>
            Рожденные с 21 февраля по 1 марта под влиянием Сатурна - капризные натуры с несбыточными мечтами, любящие
            женщин, одиночество и перемены. Рожденные со 2 по 11 марта под влиянием Юпитера - любят величие и славу,
            чувствительны и тщеславны, честные и торжественные. Рожденные с 12 по 20 марта под влиянием Марса -
            жеманные, претенциозные натуры, общительные, чувственные, услужливые, любящие коллективные развлечения.
        </p>

        {% for i in prediction %}
            {% if i.sign == 'Рыбы' %}
                <div class="prediction">
                    <p>{{ i.date }}</p>
                    <h3>{{ i.horoscope_text }}</h3>
                </div>
            {% endif %}
        {% endfor %}

    </body>
</div>
{% endblock %}