{% extends 'main/base.html' %}
{% load static %}
{% block title %}Стрелец{% endblock %}

{% block content %}
<div class="zodiacs">
    <h1>Стрелец</h1>
    <body>
        <p>
            Рожденные с 23 ноября по 2 декабря под влиянием Меркурия - натура отважная и независимая, чувственные с
            твердым духом, увлекающиеся охотой и спортом. Рожденные с 3 по 12 декабря под влиянием Луны - обладают
            воображением и фантазией, любят далекие путешествия, обладают изменчивым настроением. Рожденные с 13 по 21
            декабря под влиянием Сатурна - натуры настойчивые, чувствительные, любящие роскошь и гурманство, не имеющие
            отвращения к еде в целом, уединяющиеся для удовлетворения своих гастрономических потребностей.
        </p>

        {% for i in prediction %}
            {% if i.sign == 'Стрелец' %}
                <div class="prediction">
                    <p>{{ i.date }}</p>
                    <h3>{{ i.horoscope_text }}</h3>
                </div>
            {% endif %}
        {% endfor %}

    </body>
</div>
{% endblock %}