{% extends 'main/base.html' %}
{% load static %}
{% block title %}Скорпион{% endblock %}

{% block content %}
<div class="zodiacs">
    <h1>Скорпион</h1>
    <body>
        <p>
            Рожденные с 24 по 2 ноября под влиянием Марса - разочарованные, способные к медицине, обладающие даром
            исцеления людей, неуверенные в молодости энергичные в зрелости. Рожденные с 3 ноября по 13 под влиянием
            Солнца - натуры сильные и страстные, инициативные, с силой воли, благородные великодушные. Рожденные с
            14 по 22 ноября под влиянием Венеры - легкомысленные, эмоциональные и влюбчивые, обладающие артистическим
            талантом и сильными страстями.
        </p>

        {% for i in prediction %}
            {% if i.sign == 'Скорпион' %}
                <div class="prediction">
                    <p>{{ i.date }}</p>
                    <h3>{{ i.horoscope_text }}</h3>
                </div>
            {% endif %}
        {% endfor %}

    </body>
</div>
{% endblock %}