{% extends 'main/base.html' %}
{% load static %}
{% block title %}Телец{% endblock %}

{% block content %}
<div class="zodiacs">
    <h1>Телец</h1>
    <body>
        <p>
            Рожденные с 21 апреля по 1 мая под влиянием Меркурия - обладают большими умственными способностями и
            склонностью к коммерческим и сельскохозяйственным предприятиям. Меланхоличны. Рожденные со 2 мая по 11 мая
            под влиянием Луны - мечтательны, благородны, нерешительны, склонны к политике и литературе. Рожденные с 12
            во 20 мая под влиянием Сатурна - необщительны, пессимисты, боятся бедности и любят одиночество.
        </p>

        {% for i in prediction %}
            {% if i.sign == 'Телец' %}
                <div class="prediction">
                    <p>{{ i.date }}</p>
                    <h3>{{ i.horoscope_text }}</h3>
                </div>
            {% endif %}
        {% endfor %}

    </body>
</div>
{% endblock %}
