{% extends 'main/base.html' %}
{% load static %}
{% block title %}Дева{% endblock %}

{% block content %}
<div class="zodiacs">
    <h1>Дева</h1>
    <body>
        <p>
            Рожденные с 24 августа по 2 сентября под влиянием Солнца - обладают чувством гармонии, спокойствием и
            тенденцией к сидячей жизни. Рожденные с 3 по 11 сентября под влиянием Венеры - скрытны, застенчивы, часто
            однолюбы. Рожденные с 12 по 23 сентября под влиянием Меркурия - скромны и находчивы, иногда ленивы.
        </p>

        {% for i in prediction %}
            {% if i.sign == 'Дева' %}
                <div class="prediction">
                    <p>{{ i.date }}</p>
                    <h3>{{ i.horoscope_text }}</h3>
                </div>
            {% endif %}
        {% endfor %}

    </body>
</div>
{% endblock %}